.room {
    display: flex;
    justify-content: center;
    align-items: center;
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message {
    margin: auto;
}

.input {
    margin: auto;
}