.room {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    top: 10%;
    bottom: 10%;
    width: 60%;
}

.room .arrows {
    position: fixed;
    margin: auto;
    min-width: 5vh;
    width: 5%;
    height: auto;
}

.room .expand {
    bottom: 10%;
}

.room .contract {
    top: 10%;
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message {
    margin: auto;
}

.input {
    margin: auto;
}

.profile {
    width: 50%;
    padding: 5%;
}

.profile img {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}

.regular-view {
    width: 100%;
}

.expanded-view {
    width: 100%;
}

.all-messages {
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
}

.all-messages .message {
    align-self: flex-start;
    display: inline;
    width: 100%;
}

.all-messages .active-message {
    align-self: flex-end;
}

.thumbnail {
    border-radius: 50%;
    width: 10%;
    height: auto;
}
