.room {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: auto;
    width: 60%;
}

.tag {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

.message {
    margin: auto;
}

.input {
    margin: auto;
}

.profile {
    width: 50%;
    padding: 5%;
}

.profile img {
    position: relative;
    top: 0;
    width: 100%;
    height: auto;
}