.sidebar {
    background-color: rgb(187, 187, 187);
    width: 30%;
    height: 100%;
    position: fixed;
    top: 0;
}

.left {
    left: -30%;
    transition: left .5s ease;
}

.left:hover {
    left: 0;
}

.right {
    right: -30%;
    transition: right .5s ease;
}

.right:hover {
    right: 0;
}

.handle {
    position: fixed;
    top: 5%;
    min-width: 5vh;
    width: 5%;
    height: auto;
    z-index: -1;
}

.handle-left {
    left: 5%;
}

.handle-right {
    right: 5%;
}

.room-display {
    overflow: scroll;
    height: 95%;
}

.room-display p {
    padding: 2% 5%;
}

.active {
    background-color: deepskyblue;
}

.playlist-display {
    overflow: scroll;
    height: 500px
}